In [2]:
import pymongo

# Create the client
client = pymongo.MongoClient('localhost', 27017)

# Connect to our database
db = client['local']

In [3]:
# Create a new document
new_document = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

In [4]:
# Insert the document into a collection
collection = db.documents
inserted_id = collection.insert_one(new_document).inserted_id
print(f"Inserted document with ID: {inserted_id}")

Inserted document with ID: 671143d1e9166ff53df1175c

In [5]:
# Retrieve documents from a collection 
documents = collection.find()

# Print the retrieved documents
for doc in documents:
    print(doc)

{'_id': ObjectId('671143d1e9166ff53df1175c'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [6]:
# Update a document in a collection 

query = {"name": "John"}
new_values = {"$set": {"age": 31}}
collection.update_one(query, new_values)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [28]:
# Delete a document from a collection
query = {"name": "John"}
collection.delete_one(query)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [8]:
# inserting data
data = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
collection = db.sample_collection
insert_result = collection.insert_one(data)
print(insert_result.inserted_id)

67114473e9166ff53df1175e

In [10]:
# fetching data (read operation)
retrieved_data = collection.find_one({"name": "John"})
print(retrieved_data)

{'_id': ObjectId('67114466e9166ff53df1175d'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [11]:
# updating data
update_result = collection.update_one({'name': 'John'}, {'$set':
{'age': 35}})
print(update_result.modified_count)

1

In [13]:
# deleting data
delete_result = collection.delete_one({"name": "John"})
print(delete_result.deleted_count)

1

In [14]:
# inserting many 
data_list = [
    {"name": "Alice", "age": 28, "city": "Paris"},
    {"name": "Bob", "age": 22, "city": "London"},
    {"name": "Charlie", "age": 35, "city": "Berlin"}
]
insert_result = collection.insert_many(data_list)
print(insert_result.inserted_ids)

[ObjectId('67114532e9166ff53df1175f'), ObjectId('67114532e9166ff53df11760'), ObjectId('67114532e9166ff53df11761')]

In [15]:
# fetching multiple records:
results = collection.find({"age": {"$gt": 25}}) # age greater than 25
for r in results:
    print(r)

{'_id': ObjectId('67114532e9166ff53df1175f'), 'name': 'Alice', 'age': 28, 'city': 'Paris'}
{'_id': ObjectId('67114532e9166ff53df11761'), 'name': 'Charlie', 'age': 35, 'city': 'Berlin'}

In [16]:
# Aggregation
pipeline = [
    {"$match": {"age": {"$gt": 25}}}, # age greater than 25
    {"$group": {"_id": "$city", "averageAge": {"$avg": "$age"}}} # group of docs by value of city then averaging values of age
]
agg_result = collection.aggregate(pipeline)
for a in agg_result:
    print(a)

{'_id': 'Paris', 'averageAge': 28.0}
{'_id': 'Berlin', 'averageAge': 35.0}