# 3. Dashboard

### Understanding

Will be using the pickle files for dataframes

Using streamlit for dashboard

In [1]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import StandardScaler



%matplotlib inline

In [2]:
# loading pickles

tiktok_df = pd.read_pickle('tiktok.pkl')
youtube_df = pd.read_pickle('youtube.pkl')

In [3]:
st.dataframe(tiktok_df)

2024-12-05 12:26:44.337 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

2024-12-05 12:26:44.499
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/takosaga/miniconda3/envs/mongoDB_practice/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]
2024-12-05 12:26:44.500 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

streamlit does not run from notebook, so have to write a py file

In [4]:
%%writefile test.py

import streamlit as st
import pandas as pd

# Assuming your pickle files are in the same directory as the script
tiktok_df = pd.read_pickle('tiktok.pkl')
youtube_df = pd.read_pickle('youtube.pkl')

# Display the DataFrames
st.header("DataFrames from Pickle Files")
st.dataframe(tiktok_df.head())
st.dataframe(youtube_df.head())

Writing test.py

In [5]:
# running test.py
# !streamlit run test.py

In [5]:
tiktok_df.head()

,tiktok_view_count,tiktok_like_count,tiktok_comment_count,tiktok_likes_and_comments
0,343296.0,19425.0,0.0,19425.0
1,140877.0,77355.0,684.0,78039.0
2,902185.0,97690.0,329.0,98019.0
3,437506.0,239954.0,584.0,240538.0
4,56167.0,34987.0,152.0,35139.0

In [6]:
tiktok_df.describe()

,tiktok_view_count,tiktok_like_count,tiktok_comment_count,tiktok_likes_and_comments
count,76336.000000,76336.000000,76336.000000,76336.000000
mean,254708.558688,84304.636030,349.312146,84653.948176
std,322886.935826,133417.925044,799.623152,133968.673871
min,20.000000,0.000000,0.000000,0.000000
25%,4942.500000,810.750000,1.000000,813.000000
50%,9954.500000,3403.500000,9.000000,3412.500000
75%,504327.000000,125020.000000,292.000000,125487.000000
max,999817.000000,657830.000000,9599.000000,659520.000000

In [7]:
youtube_df.head()

,youtube_view_count,youtube_like_count,youtube_comment_count,youtube_likes_and_comments
0,77057,909,557,1466
1,188949,3734,1930,5664
2,1922598,20215,3737,23952
3,6013,94,77,171
4,190901,2969,762,3731

In [8]:
youtube_df.describe()

,youtube_view_count,youtube_like_count,youtube_comment_count,youtube_likes_and_comments
count,4.450000e+03,4.450000e+03,4450.000000,4.450000e+03
mean,1.667199e+07,1.803403e+05,4210.897978,1.845512e+05
std,1.410693e+08,8.619444e+05,22026.580878,8.784926e+05
min,1.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,6.616775e+04,1.051500e+03,86.000000,1.283000e+03
50%,4.119610e+05,6.913000e+03,505.000000,7.984000e+03
75%,2.709688e+06,4.872200e+04,2269.000000,5.217000e+04
max,6.104343e+09,1.562634e+07,532252.000000,1.615859e+07